<!DOCTYPE html>
<html lang="vi">
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <meta name="theme-color" content="#000000">
  <meta name="title" content="{{ .Title }}">
  {{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.Description }}">
  {{ else }}
  <meta name="description" content="{{ .Description }}">
  {{ end }}
  <link rel="manifest" href="{{ "manifest.json" | absURL}}">
  {{ template "_internal/google_news.html" . -}}
  {{ template "_internal/opengraph.html" . -}}
  {{ if .IsHome }}
    {{- with .Site.Params.images }}
    {{ range first 6 . }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{ end }}
    {{ end }}
  {{ end }}
  {{ template "_internal/twitter_cards.html" . -}}
  {{ template "_internal/schema.html" . -}}
  {{ range .Params.css -}}
  <link rel="stylesheet" href="{{ . }}">
  {{ end }}
  {{ if .Site.RSSLink }}
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  {{ if isset .Site.Params "favicon" }}
  <link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />
  {{ end }}

  {{ $mainStyle := resources.Get "scss/style.scss" }}
  {{ $styleFiles := slice $mainStyle}}

  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := $styleFiles | resources.Concat "scss/bundle.scss" | toCSS $options| minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  {{if .NextPage}}
  <link rel="next" href="{{.NextPage.Permalink}}" />
  {{end}}
  {{if .PrevPage}}
  <link rel="prev" href="{{.PrevPage.Permalink}}" />
  {{end}}

  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link rel="dns-prefetch" href="https://connect.facebook.net">
  <link rel="preconnect" href="https://connect.facebook.net" crossorigin="anonymous">
  <!-- End of code snippet for Google Fonts -->
</head>

<body>
  <div id="wrap">
    <header id="masthead" class="site-header">
      <h1 class="site-heading"><a href="/">Thánh Ca</a></h1>
    </header><!-- #masthead -->
    <div id="site-message-container"></div>
    {{ partial "search-box" . }}
